<td><%= user.full_name %></td>
<td>
  <% user.internal_phones.each do |phone| %>
    <%= phone.number %>
  <% end %>
</td>
<td>
  <%= check_box_tag('hidden?', value = true, checked = false, options = {}) %>
</td>