<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Сотрудник</th>
    <th scope="col">Внутренний номер</th>
    <th scope="col">Скрытый</th>
  </tr>
  <tbody>
  <% @users.each.with_index(1) do |user, index| %>
    <% unless user.hidden? %>
      <tr>
        <th scope="row"><%= index %></th>
        <%= render partial: 'phonebooks/phone', locals: { user: user } %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

